/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #FFFFFF;
    overflow-y: scroll;
}
main {
    text-transform:uppercase;
    text-align: center;
    font-family: inherit;
    margin: 0;
    padding: 0;
    color:#444343;
    line-height: 1.6;
    background: #F0F0F0;
    overflow-y: scroll;
}

header {
    background: #fff;
    color: #fff;
    padding: 20px; 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 28px;
}

header a {
    left: 15%;
    color: gray;  
    font-weight: bold; 
    font-size: 20px;
    margin-right: 40px;
    text-transform: uppercase;
  }


header .menu-icon {
    color: #333;
    cursor: pointer;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    position: fixed;
    right: 1%;
    top: 20px;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    top: 2px;
    color: #fff;
    text-decoration: none;
}

header .logo-container {
    left: 40%;
}

header nav {
    display: none;
    position: fixed;
    right: 0;
    top: 60px;
    background: #FFFFFF;
    width: 200px;
}

header nav a {
    display: block;
    color: #333ba7;
    padding: 10px;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 1px solid #444;
}

header nav a:hover {
    background: #444;
}

.container {
    margin-top: 80px;
    padding: 20px;
}

.news-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #d3d1d1;
    border-radius: 5px;
  }
  
  .news-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .news-link {
    color: #333;
    text-decoration: none;
    margin-left: 0;
  }
  
  .news-link:hover {
    text-decoration: underline;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px; 
}

iframe {
    width: 100%;
    height: 400px;
    border: none;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-top: 0;
    color: #333;
    font-style: italic;
}

.card p {
    margin-bottom: 10px;
    font-size: 12px;
    border-radius: 2px;
    display: inline-block;
    background-color: #666;
    color: #FFFFFF;
}
.card text {
    color:#333ba7;
}

.show-more {
    cursor: pointer;
    color: #007bff;
    background-color: transparent;
    border: none;
}

.show-more:hover {
    text-decoration: underline;
}
.centered-heading {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(197, 194, 194);
    padding: 10px 0;
    text-align: right;
}

.footer-content p {
    display: inline;
    margin: 0 10px;
}

.company-info {
    margin-top: -40px;
}

.company-info h2 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #0c0c0c;
    margin-bottom: 10px;
}

.company-info p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #0c0c0c;
    margin-bottom: 20px;
}

.company-info img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
